<div class="form_new_user_margin">
	<div class="new_image_gallery">
		<h3 class="gallery_title">New Image Gallery</h3>

		<%= render 'form' %>

		<%= link_to 'Back', image_galleries_path %>
	</div>
</div>
