<div class="form_new_user_margin">

<!-- <div id="new_user"> -->
<h4>Create New user:</h4>

<%= render 'form' %>
<!-- </div> -->

 <%= link_to 'Back',  users_path,class: "back margin-back-user" %>
 
</div>




