<div class="form_new_user_margin">


	<h4 class="user_title">Create New user:</h4>

	<%= render 'form' %>
	<!-- </div> -->

	<%= link_to 'Back',  users_path,class: "back margin-back-user" %>
 
</div>




