<main>
<!-- Section1 -->
<section class="module parallax parallax-1">
	<div class="about_background">
		<div class='about_image'>
			<%#= image_tag 'Logo1.png', alt: 'logo',:class => "logo_big"%>
			<%#= image_tag 'Logo_menu.png', alt: 'logo', :class => "logo_small"%>
		</div>
	</section>
	<!-- Section 2 -->
	<section class="module content module_about">
		<div class="container overlap">
			
			<div class="container-fluid">
				<!-- <ul class="nav navbar-nav home-images"> -->
				
				<p class="text-home title padded-test">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.</p>
				<p class="text-about margin-footer">
					El Cajón Sessions is an ongoing house party series to serve
					a gathering of the tribes: artists, activists, creators, innovators, and
					the ever-growing famz. Live music in an open-spirited space both
					nurtures roots and generates new vibes, it is at the heart of our
					sense of community. A homie venue for artistic expression,
					El Cajón Sessions hosts carefully curated live DJ sets and instrumentation
					sessions which are recorded (audio and video) and linked to
					upcoming events inspired by those attending, the famz. Sessions
					will run on a seasonal rotation (4 per calendar year) and be
					performed within a pocket of time, designed to sustain an ongoing
				house party.</p>
			</div>
		</div>
	</section>
	</main>
	<!-- analytics -->
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-34160351-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	<footer class="footer-artist">
				<div class="container">
					<div class="asides clearfix">
						<aside class="logo">
						</aside>
					</div>
					<div class="copyright">
						<small>2015 Cajon Project</small>
						<div class="footer-icons">
							<a href='http://www.facebook.com'><%= image_tag 'Icono_Face.png', alt: 'Facebook logo', :class => "logo_footer"%></a>
							<a href='http://www.instagram.com'><%= image_tag 'Icono_Insta.png', alt: 'Instagram logo', :class => "logo_footer"%></a>
							<a href='http://twitter.com'><%= image_tag 'Icono_Twit.png', alt: 'Twitter logo', :class => "logo_footer"%></a>
						</div>
					</div>
				</div>
   </footer> 