
<main>
<!-- Section1 -->
<section class="module parallax parallax-1">
	<div class="about_background">
		<div class='about_image'>
			<%#= image_tag 'Logo1.png', alt: 'logo',:class => "logo_big"%>
			<%#= image_tag 'Logo_menu.png', alt: 'logo', :class => "logo_small"%>
		</div>
	</section>
	<!-- Section 2 -->
	<section class="module content module_about">
		<div class="container overlap">
			
			<div class="container-fluid">
				<!-- <ul class="nav navbar-nav home-images"> -->
				
				<p class="text-home title padded-test">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.</p>
				<p class="text-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.</p>
			</div>
	</div>
</section>
</main>
<!-- analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34160351-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>