<main>
<!-- Section1 -->
<section class="module parallax parallax-1">
	<!-- <div class="container"> -->
	<div class='homepage_image'>
		<%= image_tag 'Logo1.png', alt: 'logo',:class => "logo_big"%>
	</div>
</section>
<!-- Section 2 -->
<section class="module content">
	<div class="container overlap">
		
		<div class="container-fluid">
			<!-- <ul class="nav navbar-nav home-images"> -->
			<div class="col-sm-4"><a href=""><%= image_tag '11.jpg', alt: 'logo',:class => "image_small_home"%></a>
			<p class="title">ETIAM FAUCIBUS</p>
			<p class="text-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.</p></div>
			<div class="col-sm-4"><a href=""><%= image_tag '9.jpg', alt: 'logo',:class => "image_small_home"%></a>
			<p class=" title">ETIAM FAUCIBUS</p>
			<p class="text-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.</p></div>
			<div class="col-sm-4"><a href=""><%= image_tag '3.jpg', alt: 'logo',:class => "image_small_home"%></a>
			<p class=" title">ETIAM FAUCIBUS</p>
			<p class="text-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.</p>
		</div>
	</div>
</div>
</section>
</main>
<!-- analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34160351-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>