/*All project css are here*/

@import "bootstrap-sprockets";
@import "bootstrap";


/*HOME PAGE */
#container {
   min-height:100%;
   height: 100%;
   margin-right:0;
}
   /*position:relative;*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
// .page-wrap {
//   min-height: 100%;
//   /* equal to footer height */
//   margin-bottom: -142px; 
// }
// .page-wrap:after {
//   content: "";
//   display: block;
// }
// .site-footer, .page-wrap:after {
//   height: 142px; 
// }
// .site-footer {
//   background: orge;
// }



// body {
// 	// height: 100%;
// 	width:100%;
// }


.wrapper {
// min-height: 100%;
// height: auto !important;
// height: 100%;
margin: 0 auto -4em;
}

#body {
	min-height: 100%;
	margin-bottom: -55px;
}
.padding-footer{
	padding-bottom:55px;
}

.margin-footer{
margin-bottom: 80px
}

.text-home,.text-about,
.copyrigth,.event_title,
.event,.no-event,
 #search_user,.image_title,
 .edition,.image a,.actions,
.field,.alert,.event_image,
.posts_comments p,.comments,
.posts_comments,.image,.user_description,
.edit-link,.list-event,.add_event,.new_user,
.log_in,.password,.edit_title,.back,.artist_video_tag,
.edit-event-only

{
	font-family: 'Enriqueta', serif;
}
.border-logo{

	position: absolute;
  	margin-left: 13em;
 	margin-top: 48px;
	border: 3px solid rgba(255, 255, 255, 0.6);
	height: 40px; 
	font-size: 19px;
	

}

.log_input{
	border: none;
    width: 204px;
    color:black;
}


.border-logo,
.icon-search,
#search_event,
#search_location,
.drop_down,.top_list p,
.post,.align_center_edition,
.list_posts
{
	font-family: 'BenchNine', sans-serif;
}
.logo_small{
	margin-top: 2em;
	/*margin-left:4em;*/

	padding-left: 10px;

}

/*Home page background image with gradient*/
.homepage_image{
  
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 10%, rgba(255,255,255,0.2) 50%), asset-url("homepage1.jpg") center center no-repeat;
  background-attachment: fixed;
  /*Place the background image behind the blue logo*/
  z-index: -2;
  position: relative;
    
 }
 .users_name{
 	padding-top: 10px;
    color: white;
 }

 .logo_big {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  

}
/*Nav right menu and left*/
.navbar-left,
.navbar-right.top-menu{
	margin-top: -0.7%;
	/*margin-top: -20px;*/
    position:relative;
}
/*Navegation buttoms*/
.navbar-left li a,
.navbar-right li a {
    color:white;
   
}
.navbar-nav li a:hover {
   
    /*To take the gray of the hover bootstrap*/
     color: rgba(0,22,60,0.5);
     border-bottom:3px solid rgba(0,22,60,0.5);
     background-color: transparent;
}
#home-section{
	padding: 0;
	z-index: 2;
	

}
/*Apply to all childrens of this section*/
/*This is set to show the top bar*/
#home-section > * {
	z-index: 2;
}
/*Section 2 home*/
.module.content{
	background-color: white;
	padding: 30px;
}

	.navbar-center{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    /*vertical-align: center;*/

}
/*Small Home images*/

.image_small_home{
	height: 200px;
	width: 270px

}
.image_small_home{
	padding-bottom: 20px;
	border-bottom:1px solid black;
}
.text-home{
	font-size: 16px;
	color:black;
	padding-right:48px;
	border-bottom:1px solid black;
	padding-bottom: 20px;	
}
.paragraph{
	padding-top: 10px;
	margin-top: 30px;

}
.event-top{
	font-size: 14px;
}
.event-title{
	font-size: 16px;

}
.new_event_title{
	color:white;
	position: relative;
    top: 130px;
    left: 260px;
    font-size: 20px;

}
.event-image{
	width: 300px;
    height: 171px;
    position: relative;
    left: -5px;
}

 .title{
 	font-size: 16px;
 	text-align: center;
 	margin-top: 20px;
 }


.galleria{ 
 	width: 100%;
 	height: 85vh;

 	/*default black background:*/
 	background: #000;
 	// margin-bottom: 200px;
 	margin-top: -10px;

 }


.logo_footer{
	margin-right: 5px;
}
.logo_footer:hover{
	height: 25px;

}

.copyright{
	text-align: center;
	font-size: 14px;
	color:white;
}

/*ABOUT */
.main{
	padding-bottom: 55px; /*Footer high */
}
.about_background{
  width: 100%;
  height: 70vh;
  background: asset-url("5.jpg") center center no-repeat;
  background-attachment: fixed;
  /*Place the background image behind the blue logo*/
  z-index: -2;
  position: relative;
}

.module_about {
	opacity: 0.7;
}
.padded-test{
	padding-bottom: 40px;
	border-bottom: 1px solid black; 
	right: 20%;
	padding-left: 125px;
	padding-right: 125px;
	text-transform: uppercase;
}
.text-home.title,
.no-event{
	font-size: 25px;
}
.text-about{
	text-align: left;
	margin-top: 40px;
	font-size: 16px;
	padding: 0 125px;
}

.post_background,
.events_background,
.user_background,
.gallery_background
{
border-bottom: 2px solid black;
}

/*Events page*/
.events_background{
  width: 100%;
  height: 367px;
  /*height: 70vh;*/
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 20%, rgba(255,255,255,0.2) 50%), asset-url("12.jpg") center center no-repeat;
  
  position:absolute;
  z-index: -2;
  /*position: relative;*/
}
.input-form{
	padding-top: 204px;
	text-align: center;
	padding-bottom: 8px;
	

}

.search_event{
	margin-top: 25px;

}
/*submit button*/
.btn{
  /*border: 1px solid #00ff00;*/
  color: white;
  background: -webkit-linear-gradient(left,rgba(63,196,169,1)30%, rgba(132,225,255,1));
  border-radius: 0px;
  position:relative;
  height:27px;
  width:75px;
  margin-bottom: 6px;

  /*background: */
}
.search_user{
	width: 100px;
	height: 30px;
	position: relative;
    left: -20px;

}
/*Search button*/
.icon-search{
	font-size: 16px;
	margin: auto;
	position: absolute;
    left: 30px;
    top: 2px;

}
#search_event,
#search_location,
.drop_down
{
	font-size: 16px;
	width:240px;
	margin-right:6px;
	height:31px;
	border-radius:0px;
	border:0px;

}

.input_form{
	/*z-index: 2px;*/
	border: 3px solid black;
    padding-bottom: 35px;
    margin-right: 50px;
    /*margin-left: 85px;*/
    position: relative;
    background-color: #333333;
    margin-left: 80px;


}
.input-append.dropdown{
	color:#ADADAD;
}
.event-top{
	text-transform: uppercase;
}
.event-list{
	margin-top:160px;
	padding-bottom: 77px;

}


.create_event,
.list-event,

{
	text-align:center;
}
.new_user{
// margin-left: 460px;
// margin-left: 490px;
margin-top:-80px;
position: relative;
// left: 220px;
// font-size: 20px;
color: #337ab7;

}
.new_user a{
	width:100%;

	// font-size: 20px;
	// text-transform: uppercase;
	color: #337ab7;
	

	// margin-bottom: 300px;

}
.new_image_gallery{
	text-align: center;
    position: relative;
    top: -100px;
 //    right: 53px;

}

.padding_uploader{
	margin-left:530px;
}
.button_gallery{
	margin-right: 50px;
}
.gallery_title{
	padding-top: 60px;
	position:relative;
	top:-100px;
	color:white;
}
.gal_form{
	// margin-top:10px;
	position: relative;
    left: -50px;
}
.back_gallery{
	font-size:20px;
}
// .list-event{
// 	font-size:20px;
// }

.add_event{
	position:absolute;
	left:45%;
	font-size:20px;

}
.list-event a:hover,
.new_user a:hover{
	text-decoration: none;
	color:black;
}
.image_artist{
	float: left;
	padding-right: 40px;
}

.event{
	border: 2px solid rgb(153,153,153);
    width: 324px;
    height: 325px;
    margin-left: 84px;
    margin-bottom: 50px;
    padding-top: 20px;
    // margin-top: 45px;
    
}
#edit_event_34{
	padding-top: 200px;
}
.link-admin a{
 color:rgb(77,77,77)
}
.edit_back_events{
	// padding-bottom: 100px;
	text-align:center;
}

.event a:hover{
	text-decoration: none;
 	
}

.no-event,
{
	padding-top: 75px;
	text-align: center;
	color:153,153,153;
	padding-bottom: 77px;
	position: relative;
    left: -60px;
    color: #337ab7;
  
	// padding-bottom: 0;
}
.user_email{
	color: #3fc4a9;
	margin-top: -25px;
}

/*User page*/

.users{
	padding-top: 20px;
	text-align: left;
}
.user-search{
	margin-top: -170px;
}
.specific_new{
	position: relative;
    left: 428px;
    font-size: 20px;
    top: 20px;
}
.user_name{
	padding-top: 30px;
}

.user_info{
   padding-right: 80px;
   
}

.user-index{
	padding-bottom: 50px;
}
.align_center_edition{
	padding-top: 25px;
	padding-bottom:55px;
	font-size: 20px;
	position: relative;
    left: 60px;
	
}
.user_background{
  
  width: 100%;
  height: 367px;
  /*height: 70vh;*/
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("8.jpg") center center no-repeat;
  // background: asset-url("8.jpg") center center no-repeat;
  margin: 0;
  z-index: -2;
}
.image_post{
	position: absolute;
    left: 60px;
    top: 38em;
    width: 250px;
    height: 250px;

}

.comment_box{
	margin: 0 auto;
    background-color: #d3d3d3;
    width: 60em;
    position: relative;
    left: -13em;
    top:6em;
    margin-bottom:10em;
    padding-bottom:2em;

}
.comment-text{
	padding-top:2em;
	padding-bottom:2em;
	position:relative;
	left:24em;

}
.error-message,{
	position:relative;
	left:20em;

}
.js-list-comments{
	width:30em;
}
.js-list-comments li{
	list-style-type: none;
}
.js-submit{
	margin-top:2em;
	position:relative;
	left:24em;
	width: 10em;
}
.js-comment{
	position: relative;
    width: 35em;
    left: 12em;
    height:8em;
    border:none;
}
.time-color{
   color:rgb(63, 196, 169);
}
.edit-link{
	position:relative;
	left: 15em;
}
.label-names{
	position: relative;
    left: 12em;
}
.input_box{
	position: relative;
    width: 35em;
    left: 12em;
    border:none;
}
.user_name,
.text-rigth,
{
	text-decoration:none;
	color:black;
}

.new_user_background{
  width: 100%;
  height: 250px;
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("8.jpg") center center no-repeat;

  margin: 0;
  z-index: -2;
}

.input-append.use-search{
	/*z-index: 2px;*/
	border: 3px solid black;
	text-align: center;
    background-color: #333333;
}
#search_user{
	font-size: 15px;
    /*width: 245px; */
    margin-right: 40px;
    margin-right: 52px;
    height: 31px;
    border-radius: 0px;
    border: 0px;
    position: relative;
    left: 20px;


    /*margin-top: 50px;*/

}
#new_user{
padding-top: 80px;
left: -40px;

}
.text_area_user{
   width: 300px;
   height: 100px;
    position: relative;
    left: -249px;
    width: 580px;
    height: 140px;
}
.submit-new-user{
	margin-left: 80px;
}

.form_new_user_margin{
	 // margin-top: -30px;
	// margin-bottom: 50px;
	// background-color:orange;
	background-color: orange;
    height: 100%;
     padding-top: 320px;
	
	
}


.padding{
	// padding-bottom: 55px;
	display:block;
}

.bar
{
	width: 870px;
    height: 50px;
    background-color: black;
    z-index: -1;
    margin-left: 245px;
}
.bar_event{
	margin-top: -55px;
}
.user_search{
	margin-top: -48px;
}


.span2{
	font-size: 16px;
    /* width: 245px; */
    margin-right: 32px;
    height: 31px;
    border-radius: 0px;
    border: 0px;
    width: 700px;
    margin-left: 100px;
}
.list_users{
	margin-top: 140px;
	margin-left: 135px;
	margin-bottom: 70px;
}

.newuser a{
	margin-left: 450px;
}


/*Image page*/
// .image{
// 	// padding-top: 250px;
// }
.each_image{
	padding-bottom: 55px;

}
.user_title{
	text-align:center;
	margin-top: 80px;
	color:white;
}

.image-gallery-image{
	width:500px;
	height:300px;

}
#image_gallery_title,#image_gallery_date{
	margin-top:20px;
	border: none;
    width: 220px;
}

#image-gal{
	color: #337ab7;
    font-size: 20px;
    position: relative;
    top: 15px;
}

.list_images{
	
	text-align:center;
	margin-bottom: 45px;

}
.picture_title{
	position: relative;
    left: -120px;
    top: 25px;
}
.each_image img{

	width:500px;
	height:300px;
	/*text-align: center;*/
	// border-radius:10px;
	/*padding-bottom: 20px;*/
}
.each_image p{
	text-align: center;
}
.image_title{
	padding-top: 60px;
	text-align: center;
	font-size:16px;
	text-transform: uppercase;
	color:black;
}
a.image_event:hover{
	text-decoration: none;
}

.new_gallery{
	text-align: center;

	/*margin:0 auto;*/
	/*margin-left:325px;*/
}
.edition{
	margin-bottom:40px;
}
.edition a{
	color: black;
    font-size: 16px;
}
.new_gallery{
	padding-top: 200px;

}
.image a{
	/*margin-left: 200px;*/
    color: black;
    font-size: 16px;
}
.image{
	padding-top: 40px;
	padding-bottom:25px;
}
#image_gallery_picture{
	position: relative;
    left: -20px;
}
.spam44 img{
	// padding-bottom:55px;
}
.edition a:hover,
.image a:hover,
{
	color:gray;
	text-decoration: none;
}

.gallery_background{
  
  width: 100%;
  height: 367px;
  background:asset-url("1.jpg") center center no-repeat;
  
}
// Page Posts
.list_posts{
	margin-top:60px;
	font-size: 30px;

	// margin-bottom:210px;
}
.post-title{
	margin-left: 160px;
	margin-bottom:38px;
	
}
.post{
	border:none;
}
.list_post{
	margin-bottom:20px;
}
.post_background{
  
  width: 100%;
  height: 367px;
  /*height: 70vh;*/
 background: -webkit-linear-gradient(rgba(0,22,45,0.5) 40%, rgba(255,255,255,0.2) 50%), asset-url("3.jpg") center center no-repeat;
 
}

.post{
	font-size:18px;
}
.edit-link{
	font-size: 16px;
    position: relative;
    left: 220px;
}
.btn-post{
   height: 27px;
    border: none;
    width: 90px;
    position: relative;
    left: -2px;
    top: 55px;
  }
.post_input{
	margin-left: 245px;
	margin-bottom: 12px;
}
.title_cap{
	text-transform: uppercase;
}
.searcher{
	position: relative;
    top: -227px;
}
#search_title,
#search{
	width:360px;
	margin-right:10px;
	position: relative;
    top: 54px;
    border:none;

}

.the_post{

	// padding-bottom: 60px;
	margin-left:50px;
}

// Log in page

.background{
  width: 100%;
  height: 100vh;
  /*height: 70vh;*/
 background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("10.jpg") center center no-repeat;
 z-index:-2;
}
.sign_form
{
	
	margin-top: -500px;
	// padding-bottom:255px;

    
}

.actions,
.field,
{
	    margin-left: 80px;
	   
}
.field label{
	color:white;
}
.alert{
	margin-left:520px;
	color:white;
	 text-transform: uppercase;
}
.password{
	margin-left: 550px;
	position: relative;
    left: 30px;
    top: -20px;
}

.actions input{
	color:gray;
}
.password a{
	color: rgba(86,166,169,1);
}

.post_details{
	margin-top: 300px;
}

#post_content{
	width: 950px;
    height: 230px;
    position: absolute;
    left: 190px;
}
.padding_posts{
	height:100%;
	padding-bottom:50px;
	margin-left: 180px;
}
.posts_comments
{
	margin-top: 100px;
	display: block;
    text-align: left;
    margin-left: 400px;
    margin-bottom: 100px;
}
.commenter_capital{
	text-transform: uppercase;
}
.background_show_comments{
	width: 100%;
    height: 367px;
  /*height: 70vh;*/
   background: -webkit-linear-gradient(rgba(0,22,45,0.5) 10%, rgba(255,255,255,0.2) 30%), asset-url("12.jpg") center center no-repeat;
   border-bottom:1px solid;
   // z-index:-2;
}
.content_padding{
    margin-bottom: 80px;
    padding-bottom:60px;
    padding-top: 50px;
    padding-right: 80px;
    border-bottom: 1px solid;
}

.title_post{
	padding-top: 60px;
}

.padding_image{

	margin-right: 40px;
	float: left;
	width: 282px;
    height: 282px;
	// margin-bottom: 170px;
	
	// position: relative;
 //    left: -66px;
}
.message_padding{
	padding-bottom: 40px;
}

.padding_text{
	padding-right: 80px;
}
.event_form{
 width: 100%;
  height: 100vh;
  /*height: 70vh;*/
 background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("10.jpg") center center no-repeat;
 z-index:-2;
}

// New event page

.background_color{
	margin-top:-70px;
	background: orange;
	width:100%;
	height:100%;
}

.new_event{
	display:block;
	width:450px;
	// position:relative;
	margin:0 auto;
	padding-top: 100px;
    
 }

#event_title,
#event_location,
#event_description,
#event_organizer_name,
#event_event_type
{
	width: 320px;
	border:1px solid gray;
}
.event_buttom{
	margin-left: 200px;
	padding-top: 30px;
	padding-bottom: 80px;

}
.back {
	text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    display: block;
    color: #337ab7;
    // padding-top: 70px;
    // position: relative;
    // margin:0 auto;
}

// Page event details

.event_detail_background{
 width: 100%;
 height:367px;
  /*height: 70vh;*/
 background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("10.jpg") center center no-repeat;
 z-index:-2;
}

.event_title
{	

	padding-top: 60px;
	position: relative;
	text-align:center;
	display:block;
	margin:0 auto;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom:20px;
}
.background_color_event{
	background-color:orange;
}
.right_content{
	float:right;
}
.span4 img{
	width:361px;
	height: 220px;
	padding-right:80px;
	margin-left: 150px;
}

.event_image{
	display:block;
	// width:800px;
	margin: 0 auto;
}
#search_event,#search_location,.drop_down{
	position:relative;
	top:3px;
	left:-14px;
}
.btn-event{
	position:relative;
	top:5px;
	left: -5px;
}

.btn-event{
	height:30px;
	border:none;
	width: 90px;
}

.max-width-desc{
	// max-width:300px;
	// margin-left: 120px;
	margin-left:200px;
    // padding-bottom: 10px;
    padding-right: 130px;
    border-bottom: black solid 1px;
    padding-bottom: 27px;
    margin-left: 508px;
}
.event_image{
	padding-bottom:50px;
}
p .inline{
	text-align:center;
}


.background_new_post{
	   
    height: 100vh;
	    // padding-bottom: 100px;
	// height: 450px;
}

.field_post,
.post_action
{
	margin-left:500px;

}
.post_title{
	padding-top: 250px;

}

.user_description{
	margin-top: 100px;
	margin-left: 200px;
	position: relative;
    left: -79px;
}

.home-section{
	background-color:black;
}

.listing_posts{
	text-align:center;
	margin-top: 70px;
}
.list_posts{
	text-align: left;
   
    position: relative;
    left: 43%;
    padding-bottom: 30px;
	// margin-bottom:340px;
}
.center_message{
	margin-top:120px;
	text-align:center;
	margin-bottom: 35px;
}
// .margin{
// 	margin-top:20px;
// }

.log_in{
	position:relative;
	left:46%;
	color:white;
}
.password{
	position: relative;
    left: 25px;
    font-weight: bold;
    top: 20px;
}
.js-submit{
	background: -webkit-linear-gradient(left, #3fc4a9 30%, #84e1ff);
    border: none;
    color:white;
 font-weight: bold;
}
.email_field{
	margin-top:10px;
}
.image_users{
	position:relative;
	left:-10px;
	width: 134px;
	height: 134px;
}
.post_list{
	width: 100%;
  height: 367px;
  /*height: 70vh;*/
 background: -webkit-linear-gradient(rgba(0,22,45,0.5) 40%, rgba(255,255,255,0.2) 50%), asset-url("7.jpg") center center no-repeat;
 border: solid black 2px;
}

.comment-js{
	margin-top:20px;
}

.post_create{
	position: relative;
    top: 290px;
    left: 47%;
}
#post_title{
	width:320px;
	border:none;
}
.content_post{
	position: relative;
    left: 120px;
    margin-top: 20px;
}

#post_content{
	border:none;
}
.edit_event{
  margin-top: 95px;
}
.edit_title{
	position: relative;
    top: 105px;
    left: 210px;
    color: white;
}
.back{
	position:relative;
	top:-40px;
	// top:200px;
}
.bottom-footer{
	position:absolute;
	bottom:0;
	left:0;
}
.add_event{
	font-size:20px;
}
.new_user{
	// font-size:20px;
	text-align:center;
}
.user_input{
	height:25px;
	border:none;
	position:relative;
	left:-250px;
}
.user_titles{
	position:relative;
	left:-250px;
	padding-top:20px;
}
.user_file{
	position:relative;
	left:240px;

}
.div{
	color: #337ab7;
}

.log_submit{
	width:100px;
	margin-top:20px;
}

.image_post{
	
	// position: relative;
    // left: -210px;
    width: 260px;
    height: 230px;

}

.default_image{
	width:40px;
	height:40px;
}

.footer_galleria{
	 position:absolute;

	// bottom:0;
	// left:0;

}
.post-no{
	padding-bottom:-24px;
	margin-top:-20px;
	left:4px;
}
.message-no{
	left:-10px;
	margin-bottom:-77px;
}
.list-event{
	padding-top: 60px;
}
// .footer_show{
// 	height:57px;
// }
.padding_footer_event{
	top: -45px;
    left: 50px;
}
.new_back{
	top: -35px;
    left: 0px;
}
.background_edit_gallery{
	// position:relative;
	// left:80px;
	background-color:orange;
	height:90vh;
	// margin-bottom:-55px;
	width:100%;
	// padding-top:11px;
	min-height:100%;
}
.footer_edit_gallery{
	position:absolute;
	bottom:0;
	left:0;
}
.new_user_input{
	position: relative;
    left: 240px;
    top: -210px;
}
.create_user{
	position: relative;
    top: -210px;
    left: -10px;
}
.image_tag{
	position: relative;
    left: -420px;
}
.new_position{
	left:140px;
}
.new_user_video{
	
    position: absolute;
    top: 475px;
    left: 480px;
}
.new_video {
    color: white;
    position: absolute;
    top: 450px;
    left: 495px;
}

.new_user_area{
	height:200px;
	width:30%;
}
.submit-to-user{
	position: absolute;
    top: 110%;
    right: 63%;
    width: 100px;

}
.edit_user{
	position: relative;
    left: 40%;
    top: -80px;

}
.edit-user-tag{
	position: absolute;
    top: 28%;
    left: 48%;
    color:white;
    font-size:18px;
}
.back_edit_user{
	font-size: 20px;
    position: relative;
    top:-25px;
    left: 48%;
}
.artist_video{
	max-width: 100%;
    width: 50%;
    position: relative;
    left: 25%;
    margin-bottom: 50px;

}
.artist_video_tag{
	color: #337ab7;
	text-align:center;
	font-size:15px;
}
.list_back{
	// margin-top: 110px;
	position:relative;
    left: 40%;
    padding-top: 100px;
}
#event_map{

    position: relative;
    left: 20%;
    margin-bottom: 50px;
}
.post_footer{
	margin-top:8%;
}
.edit_post_tag{
	position: relative;
    top: 164px;
    left: 200px;
    color: white;
}

// .new_user_post{
// 	position: absolute;
//     left: 622px;
//     top: 135px;
// }
// .edit-back-event{
// 	width:100px;
// }

.edit-event-only{

	position: absolute;
    top: 622px;
    left: 601px;
    font-size: 18px;
}



footer{

	background: -webkit-linear-gradient(left,rgba(63,196,169,0.7)30%, rgba(132,225,255,0.7)),
    center center no-repeat;
	height: 55px;
    position:absolute;
	
   	width:100%;

   	// margin-top: 80px;
}




