/*All project css are here*/

@import "bootstrap-sprockets";
@import "bootstrap";


/*HOME PAGE */
#container {
   min-height:100%;
   height: 100%;
   /*position:relative;*/

}
html, body {
	height: 100%;
}

.wrapper {
min-height: 100%;
// height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

#body {
	min-height: 100%;
	margin-bottom: -55px;
}
.padding-footer{
	padding-bottom:55px;
}
.margin-footer{
margin-bottom: 55px
}

.text-home,.text-about,
.copyrigth,.event_title,
.event,.no-event,
 #search_user,.image_title,
 .edition,.image a,.actions,
.field,.alert,.event_image,
.posts_comments p,.comments,
.posts_comments,.image,.user_description,
.edit-link
{
	font-family: 'Enriqueta', serif;
}
.border-logo{

	position: absolute;
  	margin-left: 13em;
 	margin-top: 48px;
	border: 3px solid rgba(255, 255, 255, 0.6);
	height: 40px; 
	font-size: 19px;
	

}
.border-logo,
.icon-search,
#search_event,
#search_location,
.drop_down,.top_list p,
.post
{
	font-family: 'BenchNine', sans-serif;
}
.logo_small{
	margin-top: 2em;
	/*margin-left:4em;*/

	padding-left: 10px;

}

/*Home page background image with gradient*/
.homepage_image{
  
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 10%, rgba(255,255,255,0.2) 50%), asset-url("homepage1.jpg") center center no-repeat;
  background-attachment: fixed;
  /*Place the background image behind the blue logo*/
  z-index: -2;
  position: relative;
    
 }
 .users_name{
 	padding-top: 10px;
    color: white;
 }

 .logo_big {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  

}
/*Nav right menu and left*/
.navbar-left,
.navbar-right.top-menu{
	margin-top: -0.7%;
	/*margin-top: -20px;*/
    position:relative;
}
/*Navegation buttoms*/
.navbar-left li a,
.navbar-right li a {
    color:white;
   
}
.navbar-nav li a:hover {
   
    /*To take the gray of the hover bootstrap*/
     color: rgba(0,22,60,0.5);
     border-bottom:3px solid rgba(0,22,60,0.5);
     background-color: transparent;
}
#home-section{
	padding: 0;
	z-index: 2;
	

}
/*Apply to all childrens of this section*/
/*This is set to show the top bar*/
#home-section > * {
	z-index: 2;
}
/*Section 2 home*/
.module.content{
	background-color: white;
	padding: 30px;
}

	.navbar-center{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    /*vertical-align: center;*/

}
/*Small Home images*/

.image_small_home{
	height: 200px;
	width: 270px

}
.image_small_home{
	padding-bottom: 20px;
	border-bottom:1px solid black;
}
.text-home{
	font-size: 16px;
	color:black;
	padding-right:48px;
	border-bottom:1px solid black;
	padding-bottom: 20px;	
}
.paragraph{
	padding-top: 10px;
	margin-top: 30px;

}
.event-top{
	font-size: 14px;
}
.event-title{
	font-size: 16px;

}
 .title{
 	font-size: 16px;
 	text-align: center;
 	margin-top: 20px;
 }


.galleria{ 
 	width: 100%;
 	height: 493px;
 	/*default black background:*/
 	background: #000;
 	margin-bottom: 80px;
 }


.logo_footer{
	margin-right: 5px;
}
.logo_footer:hover{
	height: 25px;

}

.copyright{
	text-align: center;
	font-size: 14px;
	color:white;
}

/*ABOUT */
.main{
	padding-bottom: 55px; /*Footer high */
}
.about_background{
  width: 100%;
  height: 70vh;
  background: asset-url("5.jpg") center center no-repeat;
  background-attachment: fixed;
  /*Place the background image behind the blue logo*/
  z-index: -2;
  position: relative;
}

.module_about {
	opacity: 0.7;
}
.padded-test{
	padding-bottom: 40px;
	border-bottom: 1px solid black; 
	right: 20%;
	padding-left: 125px;
	padding-right: 125px;
	text-transform: uppercase;
}
.text-home.title,
.no-event{
	font-size: 25px;
}
.text-about{
	text-align: left;
	margin-top: 40px;
	font-size: 16px;
	padding: 0 125px;
}

.post_background,
.events_background,
.user_background,
.gallery_background
{
border-bottom: 2px solid black;
}

/*Events page*/
.events_background{
  width: 100%;
  height: 367px;
  /*height: 70vh;*/
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 20%, rgba(255,255,255,0.2) 50%), asset-url("12.jpg") center center no-repeat;
  
  position:absolute;
  z-index: -2;
  /*position: relative;*/
}
.input-form{
	padding-top: 204px;
	text-align: center;
	padding-bottom: 8px;
	

}

.search_event{
	margin-top: 25px;
}
/*submit button*/
.btn{
  /*border: 1px solid #00ff00;*/
  color: white;
  background: -webkit-linear-gradient(left,rgba(63,196,169,1)30%, rgba(132,225,255,1));
  border-radius: 0px;
  position:relative;
  height:27px;
  width:75px;
  margin-bottom: 6px;
  /*background: */
}
/*Search button*/
.icon-search{
	font-size: 16px;
	margin: auto;
	position: absolute;
    left: 20px;
    top: 2px;
}
#search_event,
#search_location,
.drop_down
{
	font-size: 16px;
	width:240px;
	margin-right:6px;
	height:31px;
	border-radius:0px;
	border:0px;

}

.input_form{
	/*z-index: 2px;*/
	border: 3px solid black;
    padding-bottom: 35px;
    margin-right: 50px;
    /*margin-left: 85px;*/
    position: relative;
    background-color: #333333;
    margin-left: 80px;


}
.input-append.dropdown{
	color:#ADADAD;
}
.event-top{
	text-transform: uppercase;
}
.event-list{
	margin-top:160px;
	padding-bottom: 77px;

}


.create_event,
.list-event,

{
	text-align:center;
}
.new_user{
// margin-left: 460px;
margin-left: 490px;
margin-top:-80px;
}
.new_user a{
	font-size: 16px;
	text-transform: uppercase;
	color:#999999;
	margin-bottom: 20px;

}
.new_image_gallery{
	text-align: center;
}

.padding_uploader{
	margin-left:530px;
}
.button_gallery{
	margin-right: 50px;
}
.gallery_title{
	padding-top: 60px;
}
.gal_form{
	margin-top:60px;
}

.list-event a:hover,
.new_user a:hover{
	text-decoration: none;
	color:black;
}
.image_artist{
	float: left;
	padding-right: 40px;
}

.event{
	border: 2px solid rgb(153,153,153);
    width: 324px;
    height: 325px;
    margin-left: 84px;
    margin-bottom: 100px;
    padding-top: 20px;
    margin-top: 45px;
    
}
#edit_event_34{
	padding-top: 200px;
}
.link-admin a{
 color:rgb(77,77,77)
}
.edit_back_events{
	padding-bottom: 100px;
	text-align:center;
}

.event a:hover{
	text-decoration: none;
 	
}

.no-event,
{
	padding-top: 75px;
	text-align: center;
	color:153,153,153;
	padding-bottom: 55px;
	// padding-bottom: 0;
}

/*User page*/

.users{
	padding-top: 20px;
	text-align: left;
}
.user-search{
	margin-top: -170px;
}
.user_name{
	padding-top: 30px;
}

.user_info{
   padding-right: 80px
   
}

.align_center_edition{
	padding-top: 25px;
	padding-bottom:55px;
	
}
.user_background{
  
  width: 100%;
  height: 367px;
  /*height: 70vh;*/
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("8.jpg") center center no-repeat;
  // background: asset-url("8.jpg") center center no-repeat;
  margin: 0;
  z-index: -2;
}
.image_post{
	position: absolute;
    left: 60px;
    top: 38em;
    width: 250px;
    height: 250px;

}

.comment_box{
	margin: 0 auto;
    background-color: gray;
    width: 60em;
    position: relative;
    left: -13em;
    top:6em;
    margin-bottom:10em;
    padding-bottom:2em;

}
.comment-text{
	padding-top:2em;
	padding-bottom:2em;
	position:relative;
	left:24em;

}
.error-message,{
	position:relative;
	left:20em;

}
.js-list-comments{
	width:30em;
}
.js-list-comments li{
	list-style-type: none;
}
.js-submit{
	margin-top:2em;
	position:relative;
	left:24em;
	width: 10em;
}
.js-comment{
	position: relative;
    width: 35em;
    left: 12em;
    height:8em;
}
.time-color{
   color:rgb(63, 196, 169);
}
.edit-link{
	position:relative;
	left: 15em;
}
.label-names{
	position: relative;
    left: 12em;
}
.input_box{
	position: relative;
    width: 35em;
    left: 12em;
}
.user_name,
.text-rigth,
{
	text-decoration:none;
	color:black;
}

.new_user_background{
  width: 100%;
  height: 250px;
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("8.jpg") center center no-repeat;

  margin: 0;
  z-index: -2;
}

.input-append.use-search{
	/*z-index: 2px;*/
	border: 3px solid black;
	text-align: center;
    background-color: #333333;
}
#search_user{
	font-size: 15px;
    /*width: 245px; */
    margin-right:32px;
    height: 31px;
    border-radius: 0px;
    border: 0px;
    /*margin-top: 50px;*/

}
#new_user{
padding-top: 80px;
}
.text_area_user{
   width: 300px;
   height: 100px;
}
.submit-new-user{
	margin-left: 80px;
}

.form_new_user_margin{
	 // margin-top: -30px;
	margin-bottom: 50px;
	background-color:orange;
	height:850px;
	padding-top: 100px;
	
	
}


.padding{
	padding-bottom: 55px;
	display:block;
}

.bar
{
	width: 870px;
    height: 50px;
    background-color: black;
    z-index: -1;
    margin-left: 245px;
    margin-top: -55px;
}


.span2{
	font-size: 16px;
    /* width: 245px; */
    margin-right: 32px;
    height: 31px;
    border-radius: 0px;
    border: 0px;
    width: 700px;
    margin-left: 100px;
}
.list_users{
	margin-top: 140px;
	margin-left: 135px;
	margin-bottom: 70px;
}

.newuser a{
	margin-left: 450px;
}


/*Image page*/
// .image{
// 	// padding-top: 250px;
// }
.each_image{
	padding-bottom: 55px;

}
.user_title{
	text-align:center;
	margin-top: 80px;
}

.image-gallery-image{
	width:500px;
	height:300px;

}

.list_images{
	
	text-align:center;
	margin-bottom: 45px;

}
.each_image img{

	width:500px;
	height:300px;
	/*text-align: center;*/
	// border-radius:10px;
	/*padding-bottom: 20px;*/
}
.each_image p{
	text-align: center;
}
.image_title{
	padding-top: 60px;
	text-align: center;
	font-size:16px;
	text-transform: uppercase;
	color:black;
}
a.image_event:hover{
	text-decoration: none;
}

.new_gallery{
	text-align: center;

	/*margin:0 auto;*/
	/*margin-left:325px;*/
}
.edition{
	margin-bottom:40px;
}
.edition a{
	color: black;
    font-size: 16px;
}
.new_gallery{
	padding-top: 200px;

}
.image a{
	/*margin-left: 200px;*/
    color: black;
    font-size: 16px;
}
.image{
	padding-top: 40px;
	padding-bottom:25px;
}
.spam44 img{
	// padding-bottom:55px;
}
.edition a:hover,
.image a:hover,
{
	color:gray;
	text-decoration: none;
}

.gallery_background{
  
  width: 100%;
  height: 367px;
  background:asset-url("1.jpg") center center no-repeat;
  
}
// Page Posts
.list_posts{
	margin-top:60px;
	// padding-bottom:130px;
}
.post-title{
	margin-left: 170px;
	
}
.post{
	border:none;
}
.post_background{
  
  width: 100%;
  height: 367px;
  /*height: 70vh;*/
 background: -webkit-linear-gradient(rgba(0,22,45,0.5) 40%, rgba(255,255,255,0.2) 50%), asset-url("3.jpg") center center no-repeat;
 
}

.post{
	font-size:18px;
}
.post_input{
	margin-left: 245px;
	margin-bottom: 12px;
}
.title_cap{
	text-transform: uppercase;
}
.searcher{
	margin-top:-220px;
}
#search_title,
#search{
	width:360px;
}
#search{
	margin-right:20px;
	margin-left: 20px;
}
.top_list{
	padding-top: 200px;
}
.the_post{
	padding-bottom: 30px;
	margin-left:50px;
}

// Log in page

.background{
  width: 100%;
  height: 100vh;
  /*height: 70vh;*/
 background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("10.jpg") center center no-repeat;
 z-index:-2;
}
.sign_form
{
	
	margin-top: -500px;
	padding-bottom:200px;

    
}

.actions,
.field,
{
	    margin-left: 80px;
	   
}
.field label{
	color:white;
}
.alert{
	margin-left:520px;
	color:white;
	 text-transform: uppercase;
}
.password{
	margin-left: 540px;
}

.actions input{
	color:gray;
}
.password a{
	color: rgba(86,166,169,1);
}

.post_details{
	margin-top: 300px;
}

#post_content{
	width: 400px;
    height: 200px;
}
.padding_posts{
	padding-bottom:40px;
	margin-left: 200px;
}
.posts_comments
{
	margin-top: 100px;
	display: block;
    text-align: left;
    margin-left: 400px;
    margin-bottom: 100px;
}
.commenter_capital{
	text-transform: uppercase;
}
.background_show_comments{
	width: 100%;
    height: 367px;
  /*height: 70vh;*/
   background: -webkit-linear-gradient(rgba(0,22,45,0.5) 10%, rgba(255,255,255,0.2) 30%), asset-url("12.jpg") center center no-repeat;
   border-bottom:1px solid;
   // z-index:-2;
}
.content_padding{
    margin-bottom: 80px;
    padding-bottom:60px;
    padding-top: 50px;
    padding-right: 80px;
    border-bottom: 1px solid;
}

.title_post{
	padding-top: 60px;
}

.padding_image{
	margin-right: 40px;
	float: left;
	margin-bottom: 170px;
}
.message_padding{
	padding-bottom: 40px;
}

.padding_text{
	padding-right: 80px;
}
.event_form{
 width: 100%;
  height: 100vh;
  /*height: 70vh;*/
 background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("10.jpg") center center no-repeat;
 z-index:-2;
}

// New event page

.background_color{
	margin-top:-70px;
	background: orange;
	width:100%;
	height:100hv;
}

.new_event{
	display:block;
	width:450px;
	// position:relative;
	margin:0 auto;
	padding-top: 100px;
    
 }

#event_title,
#event_location,
#event_description,
#event_organizer_name,
#event_event_type
{
	width: 320px;
	border:1px solid gray;
}
.event_buttom{
	margin-left: 200px;
	padding-top: 30px;
	padding-bottom: 80px;

}
.back {
	text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    display: block;
    color: white;
    padding-top: 70px;
    // position: relative;
    // margin:0 auto;
}

// Page event details

.event_detail_background{
 width: 100%;
 height:200px;
  /*height: 70vh;*/
 background: -webkit-linear-gradient(rgba(0,22,45,0.5) 100%, rgba(255,255,255,0.2) 30%), asset-url("10.jpg") center center no-repeat;
 z-index:-2;
}

.event_title
{	

	padding-top: 60px;
	position: relative;
	text-align:center;
	display:block;
	margin:0 auto;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom:20px;
}
.background_color_event{
	background-color:orange;
}
.right_content{
	float:right;
}
.span4 img{
	width:361px;
	height: 220px;
	padding-right:80px;
	margin-left: 150px;
}

.event_image{
	display:block;
	// width:800px;
	margin: 0 auto;
}
#search_event,#search_location,.drop_down{
	position:relative;
	top:3px;
}
.btn-event{
	position:relative;
	top:5px;
}

.btn-event{
	height:30px;
	border:none;
}

.max-width-desc{
	// max-width:300px;
	// margin-left: 120px;
	margin-left:200px;
    // padding-bottom: 10px;
    padding-right: 130px;
}
.event_image{
	padding-bottom:50px;
}
p .inline{
	text-align:center;
}


.background_new_post{
	    padding-bottom: 100px;
	// height: 450px;
}

.field_post,
.post_action
{
	margin-left:500px;

}
.post_title{
	padding-top: 250px;

}

.user_description{
	margin-top: 100px;
	margin-left: 200px;
}

footer{
	
	background: -webkit-linear-gradient(left,rgba(63,196,169,0.7)30%, rgba(132,225,255,0.7)),
    center center no-repeat;
	height: 55px;
	position:absolute;
   	width:100%;

   	// margin-top: 80px;
}

